<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'anms.examples.stocks.title' | translate }}</h1>
    </div>
  </div>
  <div class="column" [ngClass]="routeAnimationsElements" rtl>
    <ng-container *ngIf="stocks$ | async as stocks">
      <div>
        <mat-spinner *ngIf="stocks.loading"></mat-spinner>
        <mat-card *ngIf="stocks.stock">
          <mat-card-content>
            <anms-asset-price-chart></anms-asset-price-chart>
          </mat-card-content>
        </mat-card>
        <p *ngIf="stocks.error" class="error-state">
          <fa-icon icon="exclamation-triangle" size="3x"></fa-icon>
          <br><br>
          <span>
            {{ 'anms.examples.stocks.error1' | translate }}
            <span class="symbol">{{stocks.symbol}}</span>
            {{ 'anms.examples.stocks.error2' | translate }}
          </span>
        </p>
        <asset-news-table></asset-news-table>
        <br>
        <br>
      </div>
    </ng-container>
  </div>
</div>
